:root {
    /*Colors*/

    --Green: hsl(75, 94%, 57%);

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--OffBlack);
    color: var(--White);
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.card {
    /*Width for mobile screen around width: 337px; */
    width: 383px;
    /*height: 537px; */
    height: 610px;

    background-color: var(--Dark-Grey);
    text-align: center;
    padding: 40px 40px;
    border-radius: 12px;
}

.card img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.card h1 {
    font-size: 1.5rem;
    margin-top: 1.6rem;
    font-weight: 500;

}

.card h1 span {
    color: var(--Green);
    display: block;
    font-size: 0.8rem;
    margin: 0.5rem 0 1rem;
    font-weight: 600;
}

.card p {
    color: var(--White);
    margin: 1.8rem 0 1.6rem 0;
    font-size: 0.85rem;


}

ul {
    list-style: none;
    display: grid;
    gap: 1rem
}


ul li button {
    width: 100%;
    padding: 0.9rem;
    background-color: var(--Grey);
    color: var(--White);
    border: none;
    border-radius: 7px;
    font-size: 0.9rem;
    font-weight: 600;

}